#container{
    display: grid;
    grid-template-areas: "d d d d d d d"
                         "p p i i i m m "
                         "p p i i i m m"
                         "p p c c c m m";
    width: 100%;
    height: 100%;
    border: 10px solid black;
}